:root {
  --primary-color: black;
  --secondary-color: white;
  --tertiary-color: #2196f3;
  --tertiary-color-hover: #3ea2f4;
  --tertiary-color-active: #55abf2;
}

main {
  display: flex;
  flex-direction: column;
}

/* Ensure slider spans the full width of the viewport */
/* Default class from react-slick, no need to add class manually */
.slider-container {
  width: 100%;
  margin: 0 auto;
}

/* Ensures slider images take full width  */
/* Default class from react-slick, no need to add class manually */
.slider-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Container for Tom Rilley Headshot */
.img-container {
  border: 3px solid white;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.banner-img {
  width: 100%;
}

.home-heading {
  text-align: center;
}

.brand-line {
  display: block;
  font-size: 6rem;
}

.logo {
  width: 40%;
  border-radius: 50%;
  box-shadow: 0px 0px 40px #71b3ea;
}

/* Tom Rilley headshot */
.headshot {
  width: 100%;
}

.custom-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 800px) {
  .headshot {
    width: 70%;
  }

  .logo {
    width: 25%;
  }
}