/* ROOT */
/* Even though my colors are just black and white, in the future if I ever want to change the color pallet,
I can easily just update the custom variables here. */
:root {
  --primary-color: black;
  --secondary-color: white;
  --tertiary-color: #2196f3;
  --tertiary-color-hover: #3ea2f4;
  --tertiary-color-active: #55abf2;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-grid-container {
  padding: 2rem 4rem;
}

.header {
  text-align: center;
}

/* PRODUCT GRID STYLINGS */
.product-grid {
  gap: 10px;
  margin: 0 auto; /* Center the grid */
}

/* PRODUCT CARD STYLINGS */
.product-card {
  display: flex;
  border: 2px solid rgb(80, 149, 245);
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.product-card__image,
.product-card__name,
.product-card__price,
.product-card__description {
  width: 100%;
  text-align: center;
}

/* I want name to be slightly smaller than price */
.product-card__name {
  font-size: 1.25rem;
}

/* Bigger focal point on card */
.product-card__price {
  font-size: 1.5rem;
  font-weight: bold;
}

.product-card__image {
  aspect-ratio: 1;
  object-fit: cover;
}

.product-card__description {
  font-style: italic;
}

.product-card__button {
  border: none;
  padding: 1.5rem 1rem;
  width: 100%;
  font-size: 1.25rem;
  background-color: var(--tertiary-color);
  color: white;
  cursor: pointer;
}
.product-card__button:hover {
  background-color: var(--tertiary-color-hover);
}
.product-card__button:active {
  background-color: var(--tertiary-color-active);
}

.store-heading {
  text-align: center;
}
